* {
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  color: aliceblue;
  font-family: Arial, sans-serif;
  margin: 0px;
  text-align: center;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.here {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: chocolate;

  margin: 20px 0;
}

#search-form {
  text-align: center;
  margin: 20px 0;
  background-color: black;
}
.search {
  background-color: aliceblue;
  border: 2px solid #e9e9ec;
  border-color: #6c757d;
  padding: 10px 12px;

  border: none;
  color: black;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 12rem;
  margin: 3rem;
}

.search-btn {
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 5px 5px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

#movies-grid {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  vertical-align: text-bottom;

  background-color: black;
}

.movie-card {
  margin: 1rem;
  box-shadow: 8.2px 4px 5px rgba(0, 0, 0, 0);
  background-color: chocolate;
  position: relative;
  overflow: hidden;
}
img {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;

  background-color: chocolate;
}

.show-more-area {
  padding: 5px;
}

.hidden {
  display: none;
}

.imageInfo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
}
.movie:hover.imageInfo {
  transform: translateY(0);
}
